@charset "UTF-8";

body { 
	font-family: "맑은 고딕", sans-serif;
	font-size: 20px;
}

img {
	 width:30px;
	 height:30px;
}

.login_input {
	height: 40px;
	margin: 10px 0px 0px 0px;
	width: 270px;
	border-radius: 0px;
}

/* input 관련*/
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #FFFFFF;
	background-image: none !important;
	border: 1px solid #c8c8c8;
	border-radius: 0;
	box-shadow: none !important;
	resize: none;
}
input[type="text"]:hover, input[type="password"]:hover {
	border-color: #111111;
	background-color: #ffffff;
}
input[type='text']:focus, input[type="password"]:focus {
	box-shadow: none !important;
	border-color: #000000;
	background-color: #ffffff;
	line-height: 25px;
	border: 1px solid;
	border-radius: 0px;
}
input[disabled] {
	background: #F8F8F8 !important;
	border-color: #c8c8c8 !important;
}
select:hover {
	border-color: #111111 !important;
}
select.focus {
	box-shadow: none !important;
	border-color: #111111 !important;
	background-color: #ffffff !important;
}

/* 폼 관련 */
table > tbody > tr > td {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(226,226,228);
	border-image: initial;
}
.form-control {
	float: right;
	font-weight: normal;
	border-radius: 0px;
	width: 90%;
}
.form-control[disabled], .form-control[readonly] {
	background-color: #F8F8F8;
	opacity: 1;
	border-color: #c8c8c8;
}
input.form-control {
	background-color: #FFFFFF;
	border: 1px solid #c8c8c8;
	border-radius: 0 0 0 0;
	color: #333333;
	height: 25px;
	border-radius: 0px;
	font-size: 12px;
	margin-top: 0px;
	box-shadow: none;
	float: none;
}
select.form-control {
	background-color: #FFFFFF;
	border: 1px solid #c8c8c8;
	color: #5b5b60 !important;
	height: 25px !important;
	border-radius: 0px;
	font-size: 12px;
	margin-top: 0px;
	box-shadow: none;
	float: none;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0px !important;
	border-collapse: collapse;
}
.table therd > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	vertical-align: middle;
}



.help-tip{
	top: 18px;
	right: 18px;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
	display: inline-block;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}
.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 200px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	/* border-bottom-color:#1E2021; */
	right:10px;
	top:-12px;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

.w_10p {width: 10%}
.w_15p {width: 15%}
.w_20p {width: 20%}
.w_25p {width: 25%}
.w_30p {width: 30%}
.w_35p {width: 35%}
.w_40p {width: 40%}

.h_10 {height: 10px}
.h_15 {height: 15px}
.h_20 {height: 20px}
.h_25 {height: 25px}
.h_30 {height: 30px}
.h_33 {height: 33px}
.h_35 {height: 35px}
.h_40 {height: 40px}
.h_45 {height: 45px}
.h_50 {height: 50px}

.m_10 {margin: 10px}
.m_t_5 {margin-top: 5px}
.m_t_10 {margin-top: 10px}
.m_t_20 {margin-top: 20px}
.m_t_30 {margin-top: 30px}
.m_t_50 {margin-top: 50px}
.m_b_10 {margin-bottom: 10px}
.m_b_20 {margin-bottom: 20px}
.m_r_10 {margin-right: 10px}
.m_l_10 {margin-left: 10px}

.p_10 {padding: 10px}

.font_s_50 {font-size: 50px;}
.font_s_80 {font-size: 80px;}

.center {text-align: center;}

.f_right {float: right;}

.t_s { text-shadow: 4px 2px 2px gray; }

.table_t {
	text-align: left;
	background-color: #f8f8f8;
	border-collapse: collapse;
	color: #333333;
}
.btn {    
	background: #000;
    color: white;
    border-radius: 5px;
}
.loginbtn {    
	background: #000;
    color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    margin-top: 60px;
    width: 70%;
}

.title {
    display: block;
  	text-align: center;
  	font-weight: bold;
}

.underline {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
}
.mainIcon {
	color: black;
}

#toolbar {
	width: 100%;
    height: 30px;
	margin-top: 80px;
}
#toolbar > button {
    background: #ffffff00;
    border: 0px;
    float: right;
}
#toolbar > button > img {
    width: 20px;
    height: 20px;
}

#selectObj{
	cellpadding:10;
	cellsapcing:0;
	width:600;
	height:200;
	border: 1px solid; 
	border-collapse: collapse;
}

/* Grid 관련 */
.ui-widget-content {
    border: 1px solid #E2E2E2 !important;
}


/* Menu 관련 */
.topMenuSetting {
	width: 100%;
	height: 40px;
	display: inline-block;
	position: relative;
	background-color: #F2F2F2;
	z-index: 50
}
.topMenubar {
	background-color: #F9F9F9;
	width: 100%;
	height: 40px;
	min-width: 1920px;
	overflow-x: auto;
	font-weight: bold;
	border: 1px solid red;
    border-style: solid;
    border-color: #F9F9F9 #F9F9F9 #333;
}
.topMenubar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	text-align: center;
}
.topMenubar li {
	margin: 0px;
	border: 0px;
	padding-left: 32px;
	padding-right: 32px;
	float: left;
	background-color: #F9F9F9;
	color: #333;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	width: 12%;
}
.topMenubar li:hover {
	background-color: #434343;
	color: #ffffff;
	border-radius: 18px;
	z-index:1000
}
.menu-hover {
	background-color: #434343 !important;
	color: #ffffff !important;
	border-radius: 18px !important;
}
.topMenu li ul {
	display: none;
	position: absolute;
}
.menu li {
	float: left;
	background-color: #F2F2F2;
	color: #333333;
	font-size: 20px;
	height: 29px;
	line-height: 30px;
	padding-left: 25px;
	padding-right: 25px;
}
.menu li:hover {
	background-color: #e7e7e7;
	color: #e7e7e7;
	border-radius: 18px;
	z-index:1000
}
.menu ul>li>ul {
	background-color: #F9F9F9;
	border-radius: 5px;
	border: solid 1px;
	border-color: #C8C8C8;
	position: absolute;
	display: none;
}
.menu ul>li>ul>li {
	clear: both;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: solid 1px;
	border-color: #C8C8C8;
	height: 27px;
	font-size: 12px;
	background-color: #F9F9F9;
	width: 100%;
	white-space: nowrap;
	border-radius: 0px !important;
}
.menu ul>li>ul>li:hover {
	background-color: #EAC442;
}